### Disctionary
1. Check if a key exists in a disctionary and print its value if it does:

In [2]:
disctionary = {
    "apple": 3,
    "banana": 5,
    "cherry": 10,
    "orange": 20,
    "grape": 15
}

key_to_check = "grape"

if key_to_check in disctionary:
    print(f"Value of {key_to_check}:", disctionary[key_to_check])
else:
    print("Key not found")

Value of grape: 15

2. Create a disctionary to store information about books (title, author, year) and add a new book:

In [4]:
books = {}
title = "One Piece"
author = "Monkey D. Luffy"
year = 1999
books[title] = {
    "Author": author,
    "Year": year
}
print("New book added:", title)
print("All books:", books)

New book added: One Piece
All books: {'One Piece': {'Author': 'Monkey D. Luffy', 'Year': 1999}}

3. Given a disctionary with word frequencies, find the most frequent word:

In [9]:
freq_word = {
    "Lord of the Rings": 9,
    "The Hobbit": 8,
    "Game of Thrones": 9,
    "Star Wars": 7,
    "Avenger EndGame": 10 
}
most_frequent_word = max(freq_word, key=freq_word.get)
print("Most frequent word(s):", most_frequent_word)

Most frequent word(s): Avenger EndGame

### List
4. Reverse the order of elements in a list.

In [10]:
# For lists:
# 4. Reverse the order of elements in a list.
lst = [1, 2, 3, 4, 5]

# Using reversed() function
reversed_lst = list(reversed(lst))
print("Reversed list using reversed():", reversed_lst)

# Using list.reverse() method
lst.reverse()
print("Reversed list using list.reverse():", lst)

Reversed list using reversed(): [5, 4, 3, 2, 1]
Reversed list using list.reverse(): [5, 4, 3, 2, 1]

In [11]:
# 4. Reverse the order of elements in a list.
lst = [1, 2, 3, 4, 5]
reversed_lst = lst[::-1]
print("Reversed list:", reversed_lst)

Reversed list: [5, 4, 3, 2, 1]

5. Find the sum of all even numbers in a list.

In [13]:
numbers = [1, 2, 3, 4, 5]
even_sum = sum(num for num in numbers if num % 2 == 0)
print("Sum of even numbers:", even_sum)

Sum of even numbers: 6

In [14]:
# 5. Find the sum of all even numbers in a list.
numbers = [1, 2, 3, 4, 5]
even_sum = sum(num for num in numbers if num % 2 == 0)
print("Sum of even numbers:", even_sum)

Sum of even numbers: 6

6. Remove duplicate names from a list while preserving the order.

In [15]:
names = ["Alice", "Bob", "Alice", "Charlie", "Bob"]
unique_names = []
for name in names:
    if name not in unique_names:
        unique_names.append(name)
print("List with duplicates removed:", unique_names)

List with duplicates removed: ['Alice', 'Bob', 'Charlie']

In [16]:
names = ["Alice", "Bob", "Alice", "Charlie", "Bob"]

# Convert the list to a set to remove duplicates
unique_names = set(names)

# Convert the set back to a list
unique_names = list(unique_names)

print("List with duplicates removed:", unique_names)

List with duplicates removed: ['Bob', 'Charlie', 'Alice']

### For booleans:
7. Check if a number is even using a conditional statement.

In [18]:
number = 7
if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

The number is odd.

8. Check if any exam score is below 70 and print a message if so.

In [19]:
scores = [80, 65, 90, 55]
if any(score < 70 for score in scores):
    print("There are scores below 70")
else:
    print("All scores are 70 or above")

There are scores below 70

### For sets:
9. Find common fruits liked by two people.

In [20]:
person1_fruits = {"apple", "banana", "orange"}
person2_fruits = {"banana", "grape", "kiwi"}
common_fruits = person1_fruits.intersection(person2_fruits)
print("Common fruits:", common_fruits)

Common fruits: {'banana'}

10. Add new countries and remove duplicates in a set of Asian countries.

In [22]:
asian_countries = {"Japan", "China", "India"}
new_countries = {"Korea", "India", "Nepal"}
asian_countries.update(new_countries)
print("Updated countries:", asian_countries)

Updated countries: {'Japan', 'Nepal', 'India', 'China', 'Korea'}

### For tuples:
11. Find the minimum and maximum elements in a tuple.

In [23]:
tup = (3, 7, 1, 9, 4)
min_element = min(tup)
max_element = max(tup)
print("Minimum:", min_element)
print("Maximum:", max_element)

Minimum: 1
Maximum: 9

12. Calculate total grade and print a message if it's above 90.

In [24]:
grades = [("Alice", 85, 90), ("Bob", 78, 85)]
total = sum(grades[1] + grades[2] for grades in grades)
print("Total grade:", total)
if total > 90:
    print("Congratulations! Total grade is above 90")

Total grade: 338
Congratulations! Total grade is above 90

### For conditional statements:
13. Check if a character is a vowel or consonant using a conditional statement.

In [25]:
character = 'A'
if character.lower() in 'aeiou':
    print("Vowel")
else:
    print("Consonant")

Vowel

14. Print if a number is positive, negative, or zero.

In [26]:
number = -5
if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

Negative

15. Calculate the area of a shape based on user input.

In [27]:
shape = "circle"  # User input
if shape == "square":
    side = float(input("Enter the side length of the square: "))
    area = side ** 2
elif shape == "rectangle":
    length = float(input("Enter the length of the rectangle: "))
    width = float(input("Enter the width of the rectangle: "))
    area = length * width
elif shape == "circle":
    radius = float(input("Enter the radius of the circle: "))
    area = 3.14 * radius ** 2
else:
    print("Invalid shape")
print("Area of", shape, "is:", area)

Area of circle is: 78.5